In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [10]:
# Import Data
oecd_healthcare = pd.read_csv('../data/OECD_healthcare_coverage.csv')
hypertension_adults = pd.read_csv('../data/hypertension_adults.csv')
hypertension_female = pd.read_csv('../data/hypertension_female.csv')
hypertension_male = pd.read_csv('../data/hypertension_male.csv')
overweight_adults = pd.read_csv('../data/overweight_adults.csv')
overweight_female = pd.read_csv('../data/overweight_female.csv')
overweight_male = pd.read_csv('../data/overweight_male.csv')
oop_spend_25pct = pd.read_csv('../data/spending_25_oop.csv')
urban_pop = pd.read_csv('../data/urban_population.csv')
urbpop_as_pct_total = pd.read_csv('../data/urban_pop_pct_tot.csv')
petersen_kff_data = pd.read_csv('../data/petersen_KFF_data.csv')

In [12]:
display(hypertension_male)

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,"Prevalence of hypertension, male (% of male ad...",SH.HTN.PREV.MA.ZS,Afghanistan,AFG,..,..,..,..,..,..,...,35.2,35.2,35.2,35.3,35.3,35.3,..,..,..,..
1,"Prevalence of hypertension, male (% of male ad...",SH.HTN.PREV.MA.ZS,Africa Eastern and Southern,AFE,..,..,..,..,..,..,...,34.6350443664097,34.3099744911136,33.933642125082,33.5860282650568,33.2522290765562,32.9076136623858,..,..,..,..
2,"Prevalence of hypertension, male (% of male ad...",SH.HTN.PREV.MA.ZS,Africa Western and Central,AFW,..,..,..,..,..,..,...,35.2392663376307,34.9493887910473,34.717799540835,34.428138017213,34.1860912492801,33.9111055293446,..,..,..,..
3,"Prevalence of hypertension, male (% of male ad...",SH.HTN.PREV.MA.ZS,Albania,ALB,..,..,..,..,..,..,...,43.1,43,42.9,42.8,42.7,42.6,..,..,..,..
4,"Prevalence of hypertension, male (% of male ad...",SH.HTN.PREV.MA.ZS,Algeria,DZA,..,..,..,..,..,..,...,35,34.9,34.9,34.9,34.9,35,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1067,Data from database: Health Nutrition and Popul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1068,Last Updated: 12/16/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN